<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
	backupStaticAttributes="false"
	bootstrap="tests/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	strict="true"
	verbose="true">

	<testsuites>
		<testsuite name="PageObject">
			<directory>tests/aik099/QATools/PageObject</directory>
		</testsuite>
		<testsuite name="HtmlElements">
			<directory>tests/aik099/QATools/HtmlElements</directory>
			<!--<directory>tests/aik099/QATools/HtmlElementsLive</directory>-->
		</testsuite>
		<!--<testsuite name="BEM">
			<directory>tests/aik099/QATools/BEM</directory>
		</testsuite>-->
	</testsuites>

	<listeners>
		<listener class="\Mockery\Adapter\Phpunit\TestListener"/>
	</listeners>

	<!--<logging>
		<log type="coverage-html" target="build/coverage" title="BankAccount"
			 charset="UTF-8" yui="true" highlight="true"
			 lowUpperBound="35" highLowerBound="70"/>
	</logging>-->

	<php>
		<ini name="memory_limit" value="512M"/>

		<server name="WEB_FIXTURE_HOST" value="localhost"/>
		<server name="WEB_FIXTURE_PORT" value="4444"/>
		<server name="WEB_FIXTURE_URL" value="http://localhost"/>
	</php>

	<filter>
		<whitelist>
			<directory>library/aik099/QATools/PageObject</directory>
			<directory>library/aik099/QATools/HtmlElements</directory>
			<directory>library/aik099/QATools/BEM</directory>
		</whitelist>
	</filter>
</phpunit>
