<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1><a href="/">{{ site.title }}</a></h1>
      <p class="lead">{{ site.slogan }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      <!-- Examples -->
      <li class="sidebar-nav-item{% if page.url == "/examples/" %} active{% endif %}">
        <a href="/examples/">Examples</a>
        <ul>
          {% assign sorted_pages = site.pages | sort:"name" %}
          {% for node in sorted_pages %}
            {% if node.categories contains "examples" %}
              <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
                <a href="{{ node.url }}">{{ node.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>

      <!-- API -->
      <li class="sidebar-nav-item{% if page.url == "/api/" %} active{% endif %}">
        <a href="/api/">API</a>
        <ul>
          {% assign sorted_pages = site.pages | sort:"name" %}
          {% for node in sorted_pages %}
            {% if node.categories contains "api" %}
              <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
                <a href="{{ node.url }}">{{ node.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>

      <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">GitHub project</a></li>
    </ul>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
